<div class="overflow-x-auto">
  @if (!moodTracks.length) {
  <div>
    <div
      colspan="3"
      class="whitespace-nowrap px-4 py-2 text-center text-gray-500"
    >
      Your music will appear here...
    </div>
  </div>
  }
  @else {
  <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
    <thead>
      <tr>
        <th
          class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-left"
        >
          Name
        </th>
        <th
          class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-left"
        >
          Artist
        </th>
        <th
          class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-left"
        >
          URL
        </th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      @for (track of moodTracks; track $index) {
      <tr>
        <td
          class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-left"
        >
          {{ track.name }}
        </td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700 text-left">
          {{ track.artist.name }}
        </td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700 text-left">
          <a [href]="track.url" target="_blank">Listen Here</a>
        </td>
      </tr>
      }
    </tbody>
  </table>
  }
</div>
